body {
    font-family: "Inter", sans-serif;
}
.conteiner {
    max-width: 1130px;
    margin: 0 auto;
}
.header-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-left {
    display: flex;
}
.header-left img{
    margin-right: 36px;
}
.spisok-one {
    display: flex;
    padding: 0;
}
li {
    list-style-type: none;
    margin-right: 24px;
}
a {
    text-decoration: none;
    color: #33383f;
    font-size: 15px;
}
a:hover {
    color: #0070a0;
}
.sing-in {
    font-size: 15px;
    color: #0070a0;
    border: none;
    background: none;
}
.demo {
    border: none;
    color: #ffffff;
    background-color: #0070a0;
}
.demo-header{
    margin-left: 31px;
    padding: 6px 20px;
    font-size: 15px;
}
.demo-first{
    margin-right: 24px;
    padding: 8px 32px;
    font-size: 17px;
}
.first-section {
    display: flex;
    justify-content: space-between;
    margin: 70px auto 120px auto;
}
.fraunces {
    font-family: 'Fraunces';
    font-size: 58px;
    color: #1f1f1f;
    width: 485px;
    font-weight: 500;
}
.main-info-text {
    font-size: 20px;
    color: #1f1f1f;
    width: 380px;
}
.main-info-left {
    width: 525px;
}
.main-info-buttons {
    display: flex;
    align-items: center;
}
.second-div-text {
    font-size: 24px;
    margin-bottom: 31px;
}
#img1 {
    margin-right: 72px;
}
#img2 {
    margin-right: 52px;
}
#img3 {
    margin-right: 63px;
}
.second-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 160px;
}
.third-section-div1 {
    background-color: #FAEA73;
    width: 355px;
    margin-right: 32px;
}
.third-section-div2 {
    background-color: #CCEFF6;
    width: 355px;
    margin-right: 32px;
}
.third-section-div3 {
    background-color: #F7CEDC;
    width: 355px;
}
.third-section-div-div {
    padding: 32px 32px 40px 32px;
}
.third-section {
    display: flex;
    justify-content: center
}
.third-section-fraunces {
    font-family: 'fraunces';
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 13px;
}
.fourth-section {
    background-color: #F7F9FA;
    margin-top: 120px;
}
#f-s-h2 {
    font-family: 'fraunces';
    font-weight: 500;
    font-size: 42px;
    width: 580px;
    margin-bottom: 60px;
    margin-top: 80px;
}
.f-s-h3 {
    font-size: 21px;
    font-weight: 400;
    margin: 0;
}
.f-s-button::after {
    content: url(assets/strl-vniz.svg);
}
.f-s-button {
    height: fit-content;
    border: none;
    background: none;
    margin-top: 15px;
}
.f-s-block {
    width: 450px;
    border: 1px solid #C2CDD8;
    border-left-style: none;
    border-right-style: none;
    margin-bottom: 1px;
    display: flex;
    justify-content: space-between;
    padding-top: 17px;
    padding-bottom: 9px;
}
.f-s-margin {
    margin-left: 21px;
}
.f-s-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.f-s-block-img {
    display: flex;
    align-items: start;
}
.f2-s-div {
    display: flex;
    justify-content: space-between;
    align-items: start;
    margin: 120px auto;
}
.five-section h2 {
    font-family: 'fraunces';
    font-weight: 500;
    font-size: 41px;
    width: 250px;
}
.five-section h3 {
    font-family: 'fraunces';
    font-size: 25px;
    font-weight: 400;
}
.five-section p {
    font-size: 15px;
    line-height: 24px;
    letter-spacing: 0.2px;
}
.f2-s-three_div {
    display: flex;
    align-items: end;
    width: 730px;
}
.f2-s-divs:nth-child(even) {
    margin: 0 32px;
}
.six-section {
    background-color: #006B99;
    padding-top: 80px;
    padding-bottom: 80px;
    color: #ffffff;
}
.s-s-div {
    display: flex;
    justify-content: space-between;
}
.six-section p {
    width: 430px;
    font-size: 18px;
    font-weight: 300;
}
.six-section h2 {
    font-family: 'fraunces';
    font-size: 42px;
    width: 350px;
    font-weight: 200;
    letter-spacing: 0.2px;
}
.six-section button {
    margin-top: 27px;
    font-weight: 300;
}
.s-s-li:nth-child(2) {
    margin: 11px 0;
}
.s-s-li {
    list-style-image: url(assets/s-s-vector.svg);
    font-weight: 300;
}
.six-section ul {
    padding-left: 34px;
}