body {
    font-family: "Inter", sans-serif;
}
.conteiner {
    max-width: 1130px;
    margin: 0 auto;
}
.header-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-left {
    display: flex;
}
.header-left img{
    margin-right: 36px;
}
.spisok-one {
    display: flex;
    padding: 0;
}
li {
    list-style-type: none;
    margin-right: 24px;
}
a {
    text-decoration: none;
    color: #33383f;
    font-size: 15px;
}
a:hover {
    color: #0070a0;
}
.sing-in {
    font-size: 15px;
    color: #0070a0;
    border: none;
    background: none;
}
.demo {
    border: none;
    color: #ffffff;
    background-color: #0070a0;
}
.demo-header{
    margin-left: 31px;
    padding: 6px 20px;
    font-size: 15px;
}
.demo-first{
    margin-right: 24px;
    padding: 8px 32px;
    font-size: 17px;
}
.first-section {
    display: flex;
    justify-content: space-between;
    margin: 70px auto 120px auto;
}
.fraunces {
    font-family: 'Fraunces';
    font-size: 58px;
    color: #1f1f1f;
    width: 485px;
    font-weight: 500;
}
.main-info-text {
    font-size: 20px;
    color: #1f1f1f;
    width: 380px;
}
.main-info-left {
    width: 525px;
}
.main-info-buttons {
    display: flex;
    align-items: center;
}
.second-div-text {
    font-size: 24px;
    margin-bottom: 31px;
}
#img1 {
    margin-right: 72px;
}
#img2 {
    margin-right: 52px;
}
#img3 {
    margin-right: 63px;
}
.second-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 160px;
}
.third-section-div1 {
    background-color: #FAEA73;
    width: 355px;
    margin-right: 32px;
}
.third-section-div2 {
    background-color: #CCEFF6;
    width: 355px;
    margin-right: 32px;
}
.third-section-div3 {
    background-color: #F7CEDC;
    width: 355px;
}
.third-section-div-div {
    padding: 32px 32px 40px 32px;
}
.third-section {
    display: flex;
    justify-content: center
}
.third-section-fraunces {
    font-family: 'fraunces';
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 13px;
}
.fourth-section {
    background-color: #F7F9FA;
    margin-top: 120px;
    padding-top: 50px;
}
#f-s-h2 {
    font-family: 'fraunces';
    font-weight: 500;
    font-size: 42px;
    width: 580px;
}
.f-s-h3 {
    font-size: 21px;
    font-weight: 400;
    margin: 0;
}
.f-s-button::after {
    content: url(assets/strl-vniz.svg);
}
.f-s-button {
    height: fit-content;
    border: none;
    background: none;
}
.f-s-block {
    width: 450px;
    border: 1px solid #C2CDD8;
    border-left-style: none;
    border-right-style: none;
    margin-bottom: 1px;
    display: flex;
    justify-content: space-between;
    padding-top: 17px;
    padding-bottom: 9px;
}
.f-s-margin {
    margin-left: 21px;
}
.f-s-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.f-s-block-img {
    display: flex;
    align-items: start;
}
.f2-s-div {
    display: flex;
    justify-content: space-between;
    align-items: start;
    margin: 120px auto;
}
.five-section h2 {
    font-family: 'fraunces';
    font-weight: 500;
    font-size: 41px;
    width: 250px;
}
.five-section h3 {
    font-family: 'fraunces';
    font-size: 25px;
    font-weight: 400;
}
.five-section p {
    font-size: 15px;
    line-height: 24px;
    letter-spacing: 0.2px;
}
.f2-s-three_div {
    display: flex;
    align-items: end;
    width: 730px;
}
.f2-s-divs:nth-child(even) {
    margin: 0 32px;
}
.six-section {
    background-color: #006B99;
    padding-top: 80px;
    padding-bottom: 80px;
    color: #ffffff;
}
.s-s-div {
    display: flex;
    justify-content: space-between;
}
.six-section p {
    width: 430px;
    font-size: 18px;
    font-weight: 300;
}
.six-section h2 {
    font-family: 'fraunces';
    font-size: 42px;
    width: 350px;
    font-weight: 200;
    letter-spacing: 0.2px;
}
.six-section button {
    margin-top: 27px;
    font-weight: 300;
    margin-left: 23px;
}
.s-s-li:nth-child(2) {
    margin: 11px 0;
}
.s-s-li {
    list-style-image: url(assets/s-s-vector.svg);
    font-weight: 300;
}
.six-section ul {
    padding-left: 34px;
}
.seven-section {
    padding-top: 120px;
    padding-bottom: 120px;
}
.seven-section h2{
    font-family: 'Fraunces';
    font-size: 42px;
    letter-spacing: 0.2px;
}
#sev-s-p {
    width: 550px;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.2px;
}
#sev-s-fours {
    display: flex;
}
#sev-s-fours div {
    width: 235px;
    height: 218px;
    margin-top: 65px;
    margin-right: 64px;
}
#sev-s-fours p {
    letter-spacing: 0.2px;
    font-size: 15px;
    line-height: 24px;
}
#sev-s-fours h3 {
    font-family: 'Fraunces';
    font-size: 25px;
    width: 100;
    margin: 15px auto 13px auto;
}
.eight-section {
    background-color: #F7F9FA;
    padding-top: 80px;
    padding-bottom: 80px;
}
.eight-section h2 {
    font-family: 'Fraunces';
    font-weight: 500;
    font-size: 42px;
}
.eight-section h3 {
    font-family: 'Fraunces';
    font-weight: 500;
    font-size: 25px;
}
.eight-section p {
    font-family: 'Inter';
    font-size: 14px;
}
.e-s-top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 31px;
}
.e-s-top button {
    border: none;
    background-color: #F7F9FA;
    color: #0070A0;
    margin-right: 50px;
}
.e-s-block {
    display: flex;
}
.e-s-block-div {
    height: 487px;
    width: 355px;
    margin-right: 32px;
    background-color: #ffffff;
    padding-bottom: 28px;
}
.e-s-data {
    font-size: 12px;
}
.e-s-m-div {
    padding: 25px 24px 28px 24px;
}
.e-s-block button {
    border: none;
    background-color: #E6F7FF;
    color: #2C90C9;
    padding: 4px 12px;
}
.n-s-div {
    background-color: #E6F7FF;
    padding: 64px 400px 48px 64px;
}
.n-s-div h2 {
    font-size: 42px;
    font-family: 'Fraunces';
    font-weight: 400;
    line-height: 50.4px;
    letter-spacing: 0.2px;
    width: 448px;
}
.n-s-top p {
    font-family: 'Inter';
    font-size: 18px;
    width: 481px;
    margin-top: 18px;
}
.n-s-top button {
    width: 174px;
    height: 43px;
    margin-top: 36px;
    margin-bottom: 12px;
}
.n-s-bottom{
    display: flex;
    width: 500px;
}
.n-s-bottom-p::before {
    content: url(assets/vector.svg);
}
.n-s-mar {
    margin-right: 32px;
}
.t-s-top-div {
    display: flex;
    margin-bottom: 100px;
}
footer {
    font-family: 'Inter';
}
.t-s-top-div h6 {
    font-size: 15px;
}
.t-s-top-div p {
    font-size: 14px;
}
.t-s-top-first {
    width: 153px;
    height: 216px;
    margin-right: 305px;
}
.t-s-top-first a{
    color: #0070A0;
}
.t-s-top-second {
    width: 216px;
    height: 216px;
}
.t-s-top-third {
    width: 216px;
    height: 216px;
}
.t-s-top-fourth {
    width: 216px;
    height: 216px;
}
.t-s-top-fourth p {
    font-size: 16px;
}